<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="description" content="{{title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon and apple touch icons-->
  <link rel="apple-touch-icon" href="/images/apple-icon.png">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/dashboard-assets/css/normalize.css">
  <link rel="stylesheet" href="/dashboard-assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dashboard-assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/dashboard-assets/css/themify-icons.css">
  <link rel="stylesheet" href="/dashboard-assets/css/flag-icon.min.css">
  <link rel="stylesheet" href="/dashboard-assets/css/cs-skin-elastic.css">
  <!-- <link rel="stylesheet" href="/dashboard-assets/css/bootstrap-select.less"> -->
  <link rel="stylesheet" href="/dashboard-assets/scss/style.css">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<body>

  {{>user_dashboard_leftpanel}}

  <!-- Right Panel -->

  <div id="right-panel" class="right-panel">

    {{>user_dashboard_header}}

    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li class="active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">

          <div class="col-md-12 bg-danger">
            <ol>
              {{#errors}}
              <p style="color:white">{{msg}}</p>
              {{/errors}}
            </ol>
          </div>
          <div class="col-md-12">
            <form method="post">

              <input type="hidden" name="email" class="form-control" placeholder="" value='{{user.Email}}'>

              <input type="hidden" name="user_name" class="form-control" placeholder="" value='{{user.TenHienThi}}'>
              <div class="row mt-3">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h5 for="title">Mật khẩu Hiện Tại</h5>
                    <input type="password" name="password" class="form-control" placeholder="" value='' minlength="6" maxlength="32"
                      required>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h5 for="title">Mật khẩu Mới</h5>
                    <input type="password" id="password_rsg" name="new_password" class="form-control" placeholder="" value='' minlength="6" maxlength="32"
                      required>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h5 for="title">Nhập lại Mật khẩu</h5>
                    <input type="password" name="confirm_password" class="form-control" placeholder="" value='' minlength="6" maxlength="32"
                      oninput="CheckRetypePassword(this)" required>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">
                  <i class="fa fa-save"></i> Thay đổi</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- .animated -->
    </div>
    <!-- .content -->
  </div>
  <!-- /#right-panel -->

  <!-- Right Panel -->

  <script src="/dashboard-assets/js/vendor/jquery-2.1.4.min.js"></script>
  <script src="/dashboard-assets/js/popper.min.js"></script>
  <script src="/dashboard-assets/js/plugins.js"></script>
  <script src="/dashboard-assets/js/main.js"></script>


  <script src="/dashboard-assets/js/lib/data-table/datatables.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/dataTables.buttons.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/jszip.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/pdfmake.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/vfs_fonts.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/buttons.html5.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/buttons.print.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/buttons.colVis.min.js"></script>
  <script src="/dashboard-assets/js/lib/data-table/datatables-init.js"></script>

  <script>
    function CheckRetypePassword(input) {
      var password_rsg = document.getElementById('password_rsg');
      if (input.value != password_rsg.value) {
        input.setCustomValidity('Password Must be Matching.');
      } else {
        input.setCustomValidity('');
      }
    }
    function hide_element(_id) {
      var x = document.getElementById(_id);
      alert(_id)
      if (x.style.display !== "none") {
        x.style.display = "none";
      }
    }
  </script>

</body>

</html>